.DS_Store
helloworld

# https://github.com/github/gitignore/blob/master/CMake.gitignore
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

CMakeScripts
cmake-helloworld.build
cmake-helloworld.xcodeproj

# https://github.com/github/gitignore/blob/master/C.gitignore
# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

